body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen",
    "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue",
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  /*background: linear-gradient(to bottom, #d0e1f9, #b3c6e7, #8997c0, #6882a6, #4d6b8d);*/
  /*color: black;*/
  font-size : 18px;
  background-image: linear-gradient(to right, #f0e6ff, #e6f0ff, #ffe6f0);
  background-size: 400% 400%;
  animation: pastelbg 20s ease infinite;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
    monospace;
}
@keyframes pastelbg {
  0% {
    background-position: 0% 50%;
  }
  50% {
    background-position: 100% 50%;
  }
  100% {
    background-position: 0% 50%;
  }
}