.header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 20px;
  color: #fff;
}

.logo {
  font-size: 24px;
  color: #00FF00;
 
}
.textelogo{
  font-size: 24px;
  color: #00FF00;
  margin-left: 5px;
}
.menu {
  position: relative;
}

.menu-icon {
  display: block;
  cursor: pointer;
  font-size: 24px;
  padding: 10px;
  color: #00FF00;
}

.menu-icon:before {
  content: "Menu";
  margin-right: 10px;
}

.menu-list {
  position: absolute;
  top: 100%;
  right: 0;
  background-color: #333;
  padding: 10px;
  list-style-type: none;
  margin: 0;
  display: none;
}

.menu-list li {
  margin-bottom: 10px;
}

.menu-list li a {
  color: #fff;
  text-decoration: none;
}

.menu-list li a:hover {
  color: #00FF00;
}

.menu.show .menu-list {
  display: block;
}

/*.header {
  
    display: flex;
    align-items: center;
    justify-content: space-between; 
  }
  
  .logo {
    margin-right: 20px;
    color: white;
  }
  
  .logo img {
    width: 70px;
    height: 70px; 
  
  }
  
  .menu ul {
    list-style: none;
    margin: 0;
    padding: 0;
    display: flex;
    justify-content: flex-end; 
  }
  
  .menu li {
    margin-right: 10px;
  }
  
  .menu li a {
    color: white;
    font-weight: bold;
    text-decoration: none;
    padding: 5px;
    transition: color 0.3s;
  }
  
  .menu li a:hover {
    color: #009688;
    text-shadow: 0 0 2px white;
    transition: color 0.3s ease, text-shadow 0.3s ease;
  }*/