.cv-container {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: rgba(0, 0, 0, 0.8);
    transition: transform 0.3s ease-in-out;
  }
  
  .cv-container.zoomed {
    transform: scale(1.2);
  }
  
  .cv-image {
    max-width: 90%;
    max-height: 90%;
  }
  
  .icon-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-top: 2rem;
  }
  
  .icon {
    font-size: 4rem;
    cursor: pointer;
    color: white;
  }
  
  .download-icon {
    font-size: 1.5rem;
    cursor: pointer;
    color: #09ddc8;
    margin-top: 1rem;
  }
  .tech-slider-container{
    margin-top : 2rem;
  }