body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
  }
  
  .container {
    max-width: 1200px;
    margin: 0 auto;
    padding: 40px;
   
  }
  
  .projects-container {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
    grid-gap: 80px;
  }
  .projects-container .project-card:hover{
    background-color: #009688;
 
  }
 
  .project-card {
    border: 2px dashed #009688;
    border-radius: 8px;
    padding: 20px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
    transition: transform 0.3s ease;
   
  }
  
  .project-card:hover {
    transform: translateY(-5px);
   
  }
  
  .project-card-header {
    border-bottom: 1px solid #ccc;
    margin-bottom: 10px;
    padding-bottom: 10px;
  }
  .project-card-content p:hover{
    color:white;
  }
  .project-card-content p {
    margin-bottom: 8px;
  }
  
  .project-card-content strong {
    font-weight: bold;
  }
 h1{
    text-align: center;
 }