body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
  }
  
  .container-details{
    max-width: 1200px;
    margin: 0 auto;
    padding: 40px;
   
  }
  .container-details h1:hover{
    color: #009688;
    text-shadow: 0 0 2px white;
    transition: color 0.3s ease, text-shadow 0.3s ease;
  }
  
  .projects-container-details {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
    grid-gap: 80px;
  }
  .projects-container-details .project-card-details:hover{
    background-color: #009688;
 
  }
 
  .project-card-details{
    /*border: 2px dashed #009688;*/
    border-radius: 8px;
    padding: 20px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
    transition: transform 0.3s ease;
    background-color: #fff;
    text-align : center;
   
  }
  
  .project-card-details:hover {
    transform: translateY(-5px);
   
  }
  .project-card-details h3{
    text-align : center;
  }
  
  .project-card-header {
    border-bottom: 1px solid #ccc;
    margin-bottom: 10px;
    padding-bottom: 10px;
  }
  .project-card-content-details p:hover{
    color:white;
  }
  .project-card-content-details p {
    margin-bottom: 8px;
  }
  
  .project-card-content-details strong {
    font-weight: bold;
  }
 h1{
    text-align: center;
    color:black;
 }