/* home.css */
.title-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-bottom: 20px;
}
.title-container h1{
  color: black;
}
.title-container h1:hover{
  color: #009688;
    text-shadow: 0 0 2px white;
    transition: color 0.3s ease, text-shadow 0.3s ease;
}

.home-container {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 100%;
}

.text-container {
  flex: 1;
  padding: 20px;
  border-right: 2px dotted #ccc;
  text-align: center;
  
}

.text-container p {
  text-align: justify;
  font-size : 18;
  padding: 10px;
}

.image-container {
  flex: 1;
  padding: 20px;
}

.image-container img {
  max-width: 100%;
  height: auto;
}

h1 {
  color: #00c9b6;
  text-shadow: 2px 2px 6px rgba(0, 0, 0, 0.5);
}

h2 {
  color: Black;
  text-shadow: 2px 2px 2px white;
font-weight: bold;
}

h3 {
  color: #00c9b6;
  margin-bottom: 20px;
}


